@use "../../styles/main" as *;

.quote-summary-table {
  width: 100%;
  border-top: 1px solid $border-color;

  &__row {
    padding: 13px 0;
    border-bottom: 1px solid $border-color;
  }

  .image {
    &__value {
      font-size: 12px;
      color: $secondary-color;
    }
  }
}
