$primary-color-btn: #3f53dd;
$white: #ffffff;
$border-color: #eaeaea;
$border-on-hover-color: #f7f7f7;
$card-bg: #ffffff;
$primary-color: #0a1628;
$secondary-color: #556877;
$background-color: #ebedf3;

$font-sans: "Helvetica Neue", Arial, sans-serif;
$font-mono: "Courier New", monospace;
